
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zebpay test rate exchange app</title>
</head>
<body>
    <h3>Test For Rate Exchange</h3>
    <div>
        API Link: http://azebpaytest.azurewebsites.net/api/v0/rate 
    </div>
</body>
</html>
